@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top {
  background-color: #333333;
  color: #b3b3b3;
  padding: 12px 0;
  font-size: 12px;
}
.header__top-location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__user-currency {
  border-right: 1px solid #f2f2f2;
  padding-right: 20px;
}
.header__middle {
  padding: 27.5px 0;
}
.header__middle-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__middle-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__middle-fav {
  border-right: 1px solid #f2f2f2;
  padding-right: 20px;
}
.header__search {
  display: flex;
  font-size: 14px;
}
.header__search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e6e6e6;
  padding: 12px 16px;
  border-radius: 5px 0 0 5px;
  width: 400px;
}
.header__search-button {
  background: #00b207;
  color: #FFFFFF;
  padding: 14px 24px;
  border-radius: 0 5px 5px 0;
}
.header__cart {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__cart-icon {
  position: relative;
}
.header__cart-quantity {
  position: absolute;
  border-radius: 100%;
  background-color: #2C742F;
  color: #FFFFFF;
  font-size: 12px;
  border: 1px solid #FFFFFF;
  text-align: center;
  padding: 0.5px 6px;
  top: -4px;
  right: -3px;
}
.header__cart-text {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.header__cart-text p:first-child {
  font-size: 12px;
  color: #4c4c4c;
}
.header__cart-text p:last-child {
  font-size: 14px;
  font-weight: 500;
}
.header__bottom {
  background: #f2f2f2;
  font-size: 14px;
}
.header__bottom-nav {
  display: flex;
  gap: 32px;
  align-items: center;
}
.header__bottom-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  background: #00b207;
  color: #FFFFFF;
  cursor: pointer;
}
.header__bottom-phone {
  display: flex;
  gap: 8px;
}
.header__list {
  display: flex;
  gap: 32px;
  color: #808080;
}
.header__list-item {
  cursor: pointer;
}
.header__list-item:hover {
  color: #00b207;
}/*# sourceMappingURL=main.css.map */