@use "./vars" as *;

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
  font-weight: 600;
  color: $green-9;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.cursive {
  font-family: "Segoe Script";
  text-transform: uppercase;
  color: $primary;
}

.button {
  padding: 16px 40px;
  border-radius: 43px;
  font-weight: 600;
  font-size: $body-m;
  line-height: 120%;
  color: $white;
  background: $primary;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $hard-primary;
  }

  &:active {
    background: $white;
    color: $hard-primary;
    outline: 2px solid $hard-primary;

    img {
      filter: invert(1);
    }
  }

  &--disabled {
    background: $gray-0-5;
    color: $gray-3;
    cursor: not-allowed;
    
    img {
      filter: invert(1);
    }

    &:hover,
    &:active {
      background: $gray-1;
      color: $gray-4;
      outline: none;
    }
  }

  &--light-green {
    background: rgba(86, 172, 89, 0.1);
    color: $primary;

    &:hover {
      background: $primary;
      color: $white;
    }

    &:active {
      outline: 2px solid $primary;
      color: $primary;
      background: $white;
    }
  }

  &--grey {
    background: $gray-0-5;
    color: $gray-7;

    &:hover {
      background: $gray-3;
    }

    &:active {
      background: $gray-1;
      color: $gray-7;
      outline: 2px solid $gray-7;
    }
  }

  &--black {
    background: $gray-8;
    color: $white;

    &:hover {
      background: $gray-9;
    }

    &:active {
      background: $gray-1;
      color: $gray-7;
      outline: 2px solid $gray-7;
    }
  }

  &--green-border {
    background: $white;
    color: $primary;
    outline: 2px solid $primary;

    &:hover {
      background: $white;
    }
  }
}
