html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 120%;
    font-weight: 600;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

.cursive {
    font-family: "Segoe Script";
    text-transform: uppercase;
    color: $primary;
}
