// colors
$soft-primary: #84d187;
$primary: #00b207;
$hard-primary: #2c742f;
$warning: #ff8a00;
$danger: #ea4b48;
$white: #ffffff;

// colors - gray
$gray-9: #191919;
$gray-8: #333333;
$gray-7: #4c4c4c;
$gray-6: #666666;
$gray-5: #808080;
$gray-4: #999999;
$gray-3: #b3b3b3;
$gray-2: #b3b3b3;
$gray-1: #e6e6e6;
$gray-0-5: #f2f2f2;

// colors - green gray
$green-9: #002603;
$green-8: #173b1a;
$green-7: #2b572e;
$green-6: #406b42;
$green-5: #618062;
$green-4: #7a997c;
$green-3: #96b297;
$green-2: #b3ccb4;
$green-1: #dae5da;
$green-0-5: #edf2ee;

// typography - sizes
$display-02: 72px;
$body-xxl: 24px;
$body-xl: 20px;
$body-l: 18px;
$body-m: 16px;
$body-s: 14px;
$body-xs: 12px;

// shadows
$shadow-props: rgba(14, 107, 21, 0.08);
$shadow-product-card-hover: rgba(32, 181, 38, 0.32);
$shadow-news: rgba(0, 0, 0, 0.1);
