.team {
  &__wrapper {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    max-width: 640px;
    text-align: center;

    p {
      font-weight: 400;
      font-size: $body-m;
      line-height: 150%;
      text-align: center;
      color: $gray-6;
    }
  }

  &__content {
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    outline: 1px solid $gray-1;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 20px 48px 0 rgba(0, 38, 3, 0.08);
      outline: none;

      .team__item-hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    &-image {
      position: relative;
    }

    &-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &-info {
      padding: 20px;

      p {
        font-weight: 500;
        font-size: $body-l;
        line-height: 150%;
        color: $gray-9;
      }

      span {
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        color: $gray-5;
      }
    }
  }
}
