.product-tabs {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      padding: 16px;
      font-weight: 500;
      font-size: $body-m;
      line-height: 150%;
      color: $gray-5;
      transition: all 0.3s ease;

      &:hover {
        color: $gray-9;
      }

      &--active {
        color: $gray-9;
        box-shadow: inset 0 -2px 0 0 #20b526;
      }
    }
  }

  &__content {
    padding-top: 32px;
  }
}
