.props {
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 18px;
        padding: 68px 0 229px 0;
    }

    &__img {
        position: relative;
    }

    &__sale {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: $warning;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        top: 152px;
        right: 36px;

        &-title {
            color: $white;
        }

        &-subtitle {
            color: $white;
            text-transform: uppercase;
        }
    }

    &__info {
        max-width: 536px;

        &-subtitle {
            margin-bottom: 8px;
        }

        &-title {
            margin-bottom: 20px;
        }

        &-subtext {
            font-size: $body-l;
            color: $green-5;
            margin-bottom: 32px;
        }
        &-button {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: $body-m;
            color: $white;
            background-color: $primary;
            padding: 16px 40px;
            border-radius: 43px;
        }
    }

    &__banner {
        box-shadow: 0 16px 48px 0 $shadow;
        border: 1px solid $gray-1;
        border-radius: 8px;
        display: flex;
        background-color: $white;

        position: absolute;
        width: 100%;
        max-width: 1320px;
        margin-top: 52px;
        bottom: -113px;
    }

    &__block {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        border-right: 1px solid $gray-1;
        flex: 1;

        &:hover {
            transition: all 0.3s ease;
            background-color: $primary;

            p {
                color: $white;
            }
        }

        &-icon {
            padding: 19px;
            border-radius: 100%;
            border: 1px solid $gray-1;
            background-color: $white;

            img {
                max-width: 32px;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-title {
            font-size: $body-l;
            color: $gray-9;
            font-weight: 600;
        }

        &-info {
            font-size: $body-s;
            color: $gray-4;
        }
    }
}
