.deals {
  background-color: $green-0-5;
  position: relative;
  overflow: hidden;
  z-index: 0;

  img {
    position: absolute;
    z-index: -1;
  }

  &__img-left {
    left: 0;
    top: 27%;
  }

  &__img-right {
    right: -4%;
    bottom: 0;
  }

  &__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
  }

  &__text {
    max-width: 508px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-pretitle {
      font-size: $body-m;
      color: $primary;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-title {
      font-weight: 600;
      color: $green-9;
    }
  }

  &__time {
    display: flex;
    gap: 21px;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding: 20px 8px;
      background: $white;
      border-radius: 6px;
      width: 96px;

      h5 {
        font-weight: 400;
        color: $primary;
      }

      span {
        font-weight: 500;
        font-size: $body-s;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $green-5;
      }
    }
  }
}
