.featured {
  &__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
   &__products {
      display: flex;
      justify-content: center;
   }
}
