.feedbacks {
  padding: 100px 0 90px;
  background: $green-0-5;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    max-width: 424px;

    &-text {
      position: relative;
      padding: 32px;
      background: $white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      img {
        max-width: 40px;
      }

      p {
        font-weight: 400;
        font-size: $body-m;
        line-height: 150%;
        text-align: center;
        color: $green-6;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid $white;
      }
    }

    &-client {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: $body-m;
      }

      span {
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        text-align: center;
        color: $green-5;
      }
    }
  }
}
