.intro-prod {
    background: $green-0-5;

    &__wrapper {
        padding: 211px 0 100px 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex: 1;

        &-item:not(:last-child) {
            padding-right: 24px;
            border-right: 1px solid $green-2;
        }
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
    }
}
