.news {
  background: linear-gradient(to bottom, $white 50%, $green-0-5 50%);

  &__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__item {
    padding: 24px;
    background: $white;
    transition: all 0.3s ease;
    max-width: 424px;

    &:hover {
      box-shadow: 0 10px 80px 0 $shadow-news;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 24px;
      align-items: start;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-title {
      font-weight: 500;
      font-size: $body-l;
      line-height: 150%;
      color: $green-9;
    }

    &-descr {
      font-weight: 400;
      font-size: $body-s;
      line-height: 150%;
      color: $green-5;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 600;
      font-size: $body-m;
      line-height: 120%;
      color: $primary;

      &:hover {
        .news__item-button--arrow {
          transform: translateX(4px);
        }
      }

      &--arrow {
        transition: all 0.3s ease;
      }
    }
  }
}
