.product-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 5px;
  justify-content: space-between;
  border: 1px solid $green-1;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid $hard-primary;
    box-shadow: 0 0 12px 0 $shadow-product-card-hover;

    .product-card__info-name{
      color: $hard-primary;
    }

    .product-card__info-cart {
      background-color: $primary;

      img {
        filter: invert(1);
      }
    }
  }

  &--intro {
    width: 330px;
  }

  &--default {
    width: 312px;
  }

  &--featured {
    width: 264px;
  }

  &__sale {
    position: absolute;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: $danger;
    color: $white;
    font-size: $body-s;

    span {
      font-weight: 500;
    }

    &--intro {
      top: 20px;
      left: 20px;
    }

    &--featured {
      top: 16px;
      left: 16px;
    }

    &--default {
      top: 16px;
      left: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--featured {
      padding: 12px;
    }

    &--intro {
      padding: 16px 24px 20px 20px;
    }

    &--default {
      padding: 16px;
    }

    &-text {
      &--featured {
        max-height: 63px;
      }
    }

    &-name {
      color: $green-7;

      &--featured,
      &--default {
        font-size: $body-s;
      }

      &--intro {
        font-size: $body-m;
      }
    }

    &-price {
      color: $green-9;
      font-weight: 500;

      &--featured,
      &--default {
        font-size: $body-m;
        margin-bottom: 6px;

        span {
          font-weight: 400;
        }
      }

      &--intro {
        font-size: $body-l;
        margin-bottom: 11px;
      }

      span {
        font-size: $body-m;
        color: $green-4;
        text-decoration: line-through;
      }
    }

    &-rating {
      &--featured, &--default {
        width: 60px;
      }
    }

    &-cart {
      background-color: $green-1;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      padding: 13px;
      align-items: center;

      img {
        height: 20px;
        width: 20px;
      }

      &--featured, &--default {
        height: 40px;
        width: 40px;
        padding: 10px;
      }
    }
  }
}
