.video {
  background: linear-gradient(to bottom, $green-0-5 50%, $white 50%);
  &__wrapper {
    position: relative;
  }

  &__info {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &-title {
      max-width: 495px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      p,
      h4 {
        color: $white;
      }
    }

    &-button {
      margin-top: 32px;
      width: 83px;
      height: 83px;
      border-radius: 50%;
      border: 2px solid $white;
      background: transparent;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        border-left: 20px solid $white;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
      }
    }
  }
}
