.sign-up {
  &__wrapper {
    margin: 80px auto;
    max-width: 520px;
    padding: 24px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid $gray-0-5;
    border-radius: 8px;
    box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.08);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-input {
      border: 1px solid $gray-1;
      border-radius: 8px;
      padding: 14px 16px;
      font-weight: 400;
      font-size: $body-m;
      line-height: 130%;
      color: $gray-4;
    }

    &-checkbox {
      display: flex;
      gap: 6px;

      p {
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        color: $gray-6;
      }
    }
  }

  &__additional {
    font-weight: 400;
    font-size: $body-s;
    line-height: 150%;
    color: $gray-6;

    a {
      font-weight: 500;
      color: $gray-9;
    }
  }
}
