@font-face {
    font-family: 'Segoe Script';
    src: url('SegoeScript.eot');
    src: url('SegoeScript.eot?#iefix') format('embedded-opentype'),
        url('SegoeScript.woff2') format('woff2'),
        url('SegoeScript.woff') format('woff'),
        url('SegoeScript.ttf') format('truetype'),
        url('SegoeScript.svg#SegoeScript') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

