.checkout {
  &__wrapper {
    padding: 32px 0 80px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 64px;
    flex: 1;
  }

  &__title {
    font-weight: 500;
    font-size: $body-xxl;
    line-height: 150%;
    color: $gray-9;
  }

  &__billing,
  &__additional {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__billing {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &-input {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;

      p {
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        color: $gray-9;

        span {
          color: $gray-5;
        }
      }

      input,
      textarea {
        border: 1px solid $gray-1;
        border-radius: 6px;
        padding: 14px 16px;
        font-weight: 400;
        font-size: $body-m;
        line-height: 130%;
        color: $gray-4;
      }

      textarea {
        resize: none;
        height: 100px;
      }
    }
  }

  &__summary {
    border: 1px solid $gray-1;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 424px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-title {
      font-weight: 500;
      font-size: $body-l;
      line-height: 150%;
      color: $gray-9;
    }

    &-products {
      display: flex;
      flex-direction: column;
    }

    &-total {
      display: flex;
      flex-direction: column;

      p {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        color: $gray-7;

        span {
          font-weight: 500;
          color: $gray-9;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $gray-1;
        }

        &:last-child {
          font-size: $body-m;
          padding-bottom: 0;

          span {
            font-size: $body-l;
            font-weight: 600;
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      display: flex;
      gap: 6px;
      align-items: center;

      img {
        width: 100%;
        max-width: 60px;
        max-height: 60px;
        aspect-ratio: 1/1;
      }

      p,
      span {
        font-weight: 400;
        font-size: $body-s;
        line-height: 150%;
        color: $gray-9;
      }
    }

    &-price {
      font-weight: 500;
      font-size: $body-s;
      line-height: 150%;
      color: $gray-9;
    }
  }
}
