.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
  padding: 20px;
}

.product-modal {
  max-width: 1320px;
  background: $white;
  width: 100%;
  border-radius: 8px;
  position: relative;
  padding: 40px;
}
