.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__top {
        background-color: $gray-8;
        color: $gray-3;
        padding: 12px 0;
        font-size: $body-xs;

        &-location {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 20px;

        &-lang, &-currency {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &-currency {
            border-right: 1px solid $gray-0-5;
            padding-right: 20px;
        }
    }

    &__middle {
        padding: 27.5px 0;

        &-logo {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &-fav {
            border-right: 1px solid $gray-0-5;
            padding-right: 20px;
        }
    }

    &__search {
        display: flex;
        font-size: $body-s;

        &-input {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 1px solid $gray-1;
            padding: 12px 16px;
            border-radius: 5px 0 0 5px;
            width: 400px;

            input {
                flex: 1;
            }
        }

        &-button {
            background: $primary;
            color: $white;
            padding: 14px 24px;
            border-radius: 0 5px 5px 0;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        gap: 12px;

        &-icon {
            position: relative;
        }

        &-quantity {
            position: absolute;
            border-radius: 100%;
            background-color: $hard-primary;
            color: $white;
            font-size: $body-xs;
            border: 1px solid $white;
            text-align: center;
            padding: 0.5px 6px;
            top: -4px;
            right: -3px;
        }

        &-text {
            text-align: left;
            display: flex;
            flex-direction: column;

            p {
                &:first-child {
                    font-size: $body-xs;
                    color: $gray-7;
                }

                &:last-child {
                    font-size: $body-s;
                    font-weight: 500;
                }
            }
        }
    }

    &__bottom {
        background: $gray-0-5;
        font-size: $body-s;

        &-nav {
            display: flex;
            gap: 32px;
            align-items: center;
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 16px 24px;
            background: $primary;
            color: $white;
            cursor: pointer;
        }

        &-phone {
            display: flex;
            gap: 8px;
        }
    }

    &__list {
        display: flex;
        gap: 32px;
        color: $gray-5;

        &-item {
            display: flex;
            align-items: center;
            gap: 4px;

            cursor: pointer;
            &:hover {
                color: $primary;
            }
        }
    }
}
