@mixin decorNumber {
    opacity: 0.02;

    font-size: 400px;
    font-family: $font-accent;

    position: absolute;
    top: 0;
    z-index: -1;

    line-height: 1.15;
}

@mixin mediaTablet {
    @media  screen and (max-width: $tablet) {
        @content
    }
}