// colors
$soft-primary: #84d187;
$primary: #00b207;
$hard-primary: #2C742F;
$warning: #FF8A00;
$danger: #EA4B48;
$white: #FFFFFF;

// colors - gray
$gray-9: #191919;
$gray-8: #333333;
$gray-7: #4c4c4c;
$gray-6: #666666;
$gray-5: #808080;   
$gray-4: #999999;
$gray-3: #b3b3b3;
$gray-2: #b3b3b3;
$gray-1: #e6e6e6;
$gray-0-5: #f2f2f2;

// colors - green gray
$green-9: #002603;
$green-8: #173b1a;
$green-7: #2b572e;
$green-6: #406b42;
$green-5: #618062;
$green-4: #7a997c;
$green-3: #96b297;
$green-2: #b3ccb4;
$green-1: #dae5da;
$green-0-5: #edf2ee;
