// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Segoe Script";
    src: url("./assets/fonts//SegoeScript.eot");
    src:
    url("./assets/fonts/SegoeScript.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/SegoeScript.woff2") format("woff2"),
    url("./assets/fonts/SegoeScript.woff") format("woff"),
    url("./assets/fonts/SegoeScript.ttf") format("truetype"),
    url("./assets/fonts/SegoeScript.svg#SegoeScript") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Base
@import "./assets/styles/base/reset";
@import "./assets/styles/base/base";

// blocks
@import "./components/header";
// @import "./blocks/props";
// @import "./blocks/intro-prod";
// @import "./blocks/banners";
// @import './blocks/deals';