// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Segoe Script";
    src: url("/fonts/SegoeScript.eot");
    src:
        url("/fonts/SegoeScript.eot?#iefix") format("embedded-opentype"),
        url("/fonts/SegoeScript.woff2") format("woff2"),
        url("/fonts/SegoeScript.woff") format("woff"),
        url("/fonts/SegoeScript.ttf") format("truetype"),
        url("/fonts/SegoeScript.svg#SegoeScript") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Base
@import "./assets/styles/base/reset";
@import "./assets/styles/base/vars";
@import "./assets/styles/base/mixins";
@import "./assets/styles/base/base";

// blocks
// @import "./blocks/header";
// @import "./blocks/props";
// @import "./blocks/intro-prod";
// @import "./blocks/banners";
// @import './blocks/deals';