.additional {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-item {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: $body-s;
      line-height: 150%;

      &--label {
        color: $gray-9;
        min-width: 112px;
      }

      &--value {
        color: $gray-6;
      }
    }
  }
}
