.description {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 648px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    p {
      font-weight: 400;
      font-size: $body-s;
      line-height: 150%;
      color: $gray-5;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &-item {
      display: flex;
      gap: 8px;
      font-weight: 400;
      font-size: $body-s;
      line-height: 140%;
      color: $gray-5;

      &::before {
        content: url("../../../assets/img/icons/check-mark.svg");
      }
    }
  }
}
