.extra-video-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $primary;
      cursor: pointer;
      display: flex;
      padding: 16px;
      justify-content: center;
    }
  }

  &__block {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 24px 20px;
    border: 1px solid $gray-1;
    border-radius: 6px;

    &-item {
      display: flex;
      gap: 12px;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;

        p {
          font-weight: 500;
          font-size: $body-s;
          line-height: 150%;
          color: $gray-9;
        }

        span {
          font-weight: 400;
          font-size: $body-s;
          line-height: 150%;
          color: $gray-5;
        }
      }
    }
  }
}
